<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Sign In</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<header>
    <h1>SMART DIGITAL WASTE MANAGEMENT  SYSTEM</h1>
    <p class="ehc">Reduce . Refuse . Recycle . Reuse</p>
  </header>
  
 <div class="return">
    <h1> User Registered Succesfully </h1>
    <h3> Thanks for  using Smart Digital Systems </h3>
     <a href="{{ url_for('index') }}"> Back to Home </a>
 </div>